body {
	font-family: Arial, sans-serif;
}

h1 {
	clear: left;
}

.alphabet {
	font-family: "Times New Roman", serif;
	font-size: 0pt;
}

.alphabet>div {
	border: 1px dashed #d6d6d6;
	display: inline-block;
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	width: 48px;
}

.alphabet>div.double-width {
	width: 98px;
}

.alphabet .label {
	border-width: 0px;
	font-size: 16pt;
}

.order {
	font-size: 0pt;
}

.order div {
	display: inline-block;
	font-size: 12pt;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	width: 48px;
}

.alphabet .label, .order .label {
	margin-left: 8px;
	width: fit-content;
}

body {
	--arabic-color: #00aa00;
	--hebrew-color: #8080ff;
}

.arabic {
	color: var(--arabic-color);
}

.hebrew {
	color: var(--hebrew-color);
}

.both {
	color: #666666;
}

.thick {
	font-weight: bold;
}

.raphe {
	text-decoration: overline;
}

.long {
	border-top-style: solid;
	border-top-width: 0.09em;
	display: inline-block;
	line-height: 0.6;
	margin-left: 0.05em;
	min-width: 0.4em;
	text-align: center;
}

div.arial, span.arial {
	font-family: Arial, sans-serif;
	font-size: 27px;
	padding-top: 5px;
}

.waw {
	font-stretch: ultra-condensed;
	letter-spacing: -3px;
	padding-bottom: 1px;
}

.borderless div {
	border-width: 0px;
	padding-left: 1px;
	padding-right: 1px;
}

div.box {
	border-width: 1px;
	padding-left: 0px;
	padding-right: 0px;
}

.overprint {
	margin-left: -12px;
}

#soft-transliteration>div {
	vertical-align: top;
}

#za-alt, #shin, #soft-tav-trans-alt {
	display: none;
}

#sin {
	visibility: hidden;
}

#faa {
	border-bottom: 1px dashed #d6d6d6;
	display: none;
}

#soft-tav-trans-alt {
	float: left;
}

.info {
	background-color: #444444;
	color: white;
	padding: 5px;
}

.float {
	float: left;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex>* {
	max-width: 960px;
}


table {
	border-collapse: collapse;
	margin: 1em;
}

.table td, .table th {
	border: 1px solid #444444;
	padding: 3px 5px 3px 5px;
	text-align: center;
}

.arabic-char {
	font-size: 300%;
}

.phoneme-table .arabic-char {
	font-size: 200%;
}

.hebrew-char {
	font-size: 260%;
}

.english-char {
	font-size: 140%;
}

.table .thick-border {
	border-right-width: 3px;
}

.info, .table, p, ol, ul {
	line-height: 1.5;	
}

p, ol, ul {
	text-align: justify;
}

.footnotes {
	font-family: serif;
	line-height: 1.4;
}

.footnotes table {
	font-family: sans-serif;
}

ol.footnotes, ul.footnotes {
	padding-left: 40px;
}

p.footnotes {
	padding-left: 25px;
}

li {
	margin-top: 1em;
}

.big {
	font-size: 180%;
	line-height: 0.7;
}

label.big {
	line-height: 1;
}

h2 {
	font-size: 1.5em;
}

h2 .big {
	font-size: 135%;
}

.input {
	font-size: 250%;
	text-align: right;
}

.transliteration {
	font-size: 175%;
}

.pronunciation {
	color: gray;
	font-size: 130%;
}

.english {
	font-size: 24px;
	font-style: italic;
}

.diacritic {
	font-size: 12px;
	vertical-align: +20px;
}

.rule {
	font-style: italic;
}

.english::before, .rule::before {
	content: '-';
}

.english::after, .rule::after {
	content: '-';
}

.common-container {
	display: flex;
	align-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.common {
	display: inline-block;
	font-size: 32px;
	line-height: 0.8;
	padding-top: 6px;
	text-align: center;
}

td th {
	vertical-align: top;
}

.no-copy-undertie::before {
	content: '\203f';
}

.invisible {
	font-size: 0pt;
}

#controls {
	text-align: center;
}

body {
	counter-reset: section figure;
}

section h1::before {
	counter-increment: section;
	content: counter(section) " ";
}

h1 {
	counter-reset: subsection footnote;
}

section h2::before {
	counter-increment: subsection;
	content: counter(section) "." counter(subsection) " ";
}

h2 {
	counter-reset: footnote;
}

.footnote::before, .footnote-duplicate {
	font-size: 55%;
	margin-left: 3px;
	vertical-align: 0.9em;
}

.footnote::before {
	counter-increment: footnote;
	content: counter(footnote);
}

.footnote+.footnote::before {
	content: ", " counter(footnote);
}

figure {
	width: fit-content;
}

figcaption::before {
	counter-increment: figure;
	content: "Figure " counter(figure) ": ";
	font-weight: bold;
}

figcaption {
	font-size: small;
	margin-top: 1em;
	text-align: center;
}

.xref::before {
	content: "link";
}

.emchar {
	color: #222222;
	font-weight: bold;
}

.pronunciation-note {
	font-size: initial;
	font-style: italic;
}

.pronunciation-note .big {
	font-style: normal;
}

.combo {
	position: relative;
}

.combo  .over {
	position: absolute;
	left: 0;
	top: 0;
}

.big .over {
	line-height: 1;
}

.vowel-chart a {
	text-decoration: none;
}

.reduced {
	font-size: 98%;
	vertical-align: bottom;
}

div.no-lb, table .no-lb, .no-lb {
	border-left-color: transparent;
}

div.no-rb, table .no-rb, .no-rb {
	border-right-color: transparent;
}

table .no-tb, .no-tb {
	border-top-color: transparent;
}

table .no-bb, .no-bb {
	border-bottom-color: transparent;
}

table .no-b, .no-b {
	border-color: transparent;
}

.ayin {
	font-family: serif;
	font-variant: small-caps;
	vertical-align: +2px;
}

.ipa-table {
	float: right;
}

.ipa-table .dialect-label {
	font-size: smaller;
	border-bottom-width: 0px;
}

.alien {
	font-style: italic;
}

.references {
	list-style-type: none;
}

.references li {
	margin-top: 0.5em;
}

.references a {
	text-decoration: none;
}

.references a:hover {
	text-decoration: underline;
}

.syllable-structure {
	font-family: monospace;
	font-size: 150%;
	letter-spacing: 2px;
}

.placeholder {
	font-size: 90%;
	font-style: italic;
}

.pattern {
	color: red;
	font-weight: bold;
}

.big-placeholder {
	background-color: DarkKhaki;
	display: inline-block;
	height: 1.85ex;
	margin-left: 0.1em;
	margin-right: 0.1em;
	vertical-align: text-bottom;
	width: 3em;
}

.th-note {
	font-style: italic;
	font-weight: normal;
}

.th-note.big {
	font-size: 150%;
	font-style: normal;
}

.same-height .hebrew-char {
	display: inline-block;
	margin-bottom: 0.25em;
}

.consonant-placeholder {
	font-size: 90%;
	vertical-align: -0.1em;
}

.strong {
	font-weight: bold;
}

.english-vowel {
	font-variant: small-caps;
}

summary h1, summary h2 {
	display: inline-block;
	vertical-align: middle;
}

summary {
	cursor: pointer;
}