h1 {
	margin-bottom: 1.3em;
}

h2.root {
	margin-bottom: 0.7em;
}

.vocab, .meaning {
	margin-left: 85px;
}

.meaning {
	margin-bottom: 2em;
}

.meaning th {
	text-align: right;
	vertical-align: bottom;
	width: 110px;
}

.vocab td.english-char {
	text-align: center;
}

.vocab td.english-char:last-child {
	text-align: left;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;	
}

.vocab .english-char {
	font-size: 200%;
}

.vocab .arabic-char, .vocab .hebrew-char {
	padding-right: 15px;
	text-align: right;
	width: 110px;
}

.vocab .english-char {
	padding-left: 0px;
}

.vocab .thick {
	text-decoration-color: inherit;
}

.vocab .digraph {
	display: inline-block;
	letter-spacing: -2px;
	transform: scale(0.8, 1) translate(-20%);
	width: 0.7em;
}

.vocab .thin-e {
	display: inline-block;
	letter-spacing: -2px;
	transform: scale(0.8, 1) translate(-20%);
	width: 0.4em;
}

.tsere-trans {
	font-style: italic;
}

#index {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#index table {
	margin: 0px;
}

#index td {
	text-align: right;
	vertical-align: text-bottom;
}

#index table {
	min-width: 55px;
}

#index a, #index a {
	text-decoration: none;
}

#index .arabic-char {
	font-size: 270%;
}