.vocab {
	margin-left: 90px;
}

.vocab td.english-char:nth-child(2) {
	text-align: right;
}

.vocab td.english-char {
	text-align: center;
}

.align-left {
	text-align: left !important;
}

.vocab .english-char {
	font-size: 200%;
}

.vocab .arabic-char, .vocab .hebrew-char {
	padding-right: 15px;
	text-align: right;
}

.vocab .english-char {
	padding-left: 0px;
}

.vocab .thick {
	text-decoration-color: inherit;
}

.vocab .digraph {
	display: inline-block;
	letter-spacing: -2px;
	transform: scale(0.8, 1) translate(-20%);
	width: 0.7em;
}

.vocab .thin-e {
	display: inline-block;
	letter-spacing: -2px;
	transform: scale(0.8, 1) translate(-20%);
	width: 0.4em;
}

.tsere-trans {
	font-style: italic;
}

.vocab .english-char .ayin {
	vertical-align: +2px;
}
