@font-face {
	font-family: 'NotoSansAvestan';
	src: url('NotoSansAvestan-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*:lang(ae) {
	font-family: 'NotoSansAvestan';
}
